<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/parking.js}"></script>
</head>
<body>
<div class="content" layout:fragment="content">
    <form id="frm" class="container" th:action="@{/parking}" method="post" th:object="${state}">
        <div class="mb3">
            <label class="form-label">차량 번호</label>
            <input id="number" name="number" type="text" class="form-control" readonly th:value="*{carNumber}">
        </div>
        <div class="mb3">
            <label class="form-label">입차 시간</label>
            <input name="number" type="text" class="form-control" readonly th:value="${#temporals.format(state.inTime, 'yyyy-MM-dd HH:mm')}">
            <input name="number" type="hidden" class="form-control" readonly th:value="*{inTime}">
        </div>
        <div class="mb3">
            <label class="form-label">출차 시간</label>
            <input type="text" class="form-control" id="current-time" readonly>
        </div>
        <div class="mb3">
            <label class="form-label">가격</label>
            <input name="number" type="text" class="form-control" readonly>
        </div>
        <br>
        <div class="mb3">
            <div th:if="${member != true}">
                <input name="number" type="text" class="form-control" readonly value="비회원 고객님입니다">
                <input type="hidden" field="" value="비회원">
            </div>
            <div th:if="${member == true}">
                <input name="number" type="text" class="form-control" readonly value="회원 고객님입니다">
                <input type="hidden" field="" value="비회원">
            </div>
        </div>
        <br>
        <div>
            <label class="form-label">영수증 번호 등록</label>
            <input name="number" type="text" class="form-control">
        </div>
        <br>
        <input type="submit" value="출차" class="btn btn-primary">
    </form>
</div>
</body>
</html>